
@media (min-width: 992px) {
    nav > .container > .row {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
    .main-header {
        height: 240px !important;
    }
    .col-md-12 {
        width: 50%;
    }
    .main-header {
        height: 240px;
    }
    .wraper {
        width: 100%;
        max-width: 1200px !important;
    }
    .wraper {
        width: 100%;
        max-width: 1080px;
    }
    #header > div {
        flex: 1 !important;
    }
    .container {
        width: 100% !important;
    }
    .hidden-desktop {
        display: none;
    }
    
}
@media (max-width: 500px) {
    .newstabhomejcarousel ul.non-slider {
        grid-template-columns: repeat(1, minmax(calc(33.33% - 40px), 1fr));
    }
}
@media ( max-width : 767.98px) {
    #header .right-ads, #header .logo {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }
    .breadcrumbs-wrap {
        display: none;
    }
    .third-nav .bg {
        padding: 10px 5px;
    }
    .socialList {
        justify-content: center;
    }
    .main-header #header {
        padding-top: 0 !important;
    } 
    .section-footer-top .panel-default {
        text-align: center;
    }
    #header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #header .logo {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header .logo img {
        max-height: 100px;
    }
    #header .right-ads, #header .logo {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }
}
@media (min-width: 1200px) {
    ul.slimmenu>li:last-child>a {
        padding-right: 0px !important;
    }
    .css-block-footer .panel-default::after {
        right: 0;
        /* width: 3px; */
    }
    .css-block-footer .panel-default::before, .css-block-footer .panel-default::after {
        content: "";
        position: absolute;
        border-color: #393637;
        border-width: 0.5px;
        border-style: solid;
        height: 100%;
        top: 17px;
    }
    .css-block-footer .panel-default {
        border: none;
        position: relative;
    }
    .css-block-footer .panel-default {
        border-right: 2px solid #393637;
        border-left: 2px solid #393637;
        border-radius: 0;
    }
    .wraper {
        width: 1080px;
    }
    .wraper {
        width: 1200px;
    }
}
@media (min-width: 768px) {
    .wraper {
        width: 100%;
    }
}
@media (max-width: 768px) {
        .main-header #header .logo, #header .logo
 {
        padding: 10px;
    }
    .newstabhomejcarousel ul.news-slider.show-slider-mobile {
        display: block !important;
    }
    
    .newstabhomejcarousel ul.news-slider.show-slider, .newstabhomejcarousel ul.news-slider.non-slider {
        display: none;
    }
    .item-nav {
        display: block !important;
    }
    .newstab-slide .box-icon-title ul.mtab li {
        border-top: 1px solid #ccc;
        border-right: 0.5px solid #ccc;
        border-bottom: 0.5px solid #ccc;
        border-left: 1px solid #ccc;
        margin: 0;
    }
    .newstab-slide .box-icon-title ul.mtab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) !important;
        padding-left: 0px;
    }
    .newstab-slide .box-icon-title ul.mtab {
        padding-right: 0;
    }
    .newstab-slide .box-icon-titles {
        display: none;
    }s
    .footer-bttop .bttop {
        right: 20px;
    }
        .main-header #header .logo, #header .logo {
            padding: 10px;
        }
        .wraper {
            width: 100%;
        }
        .home-header .text-sologan .bo,
        .home-header .text-sologan .bo>a,
        .non-home .text-sologan .bo,
        .non-home .text-sologan .bo>a,
        .sticky .non-home .text-sologan .bo,
        .sticky .non-home .text-sologan .bo>a {
            font-size: 14px;
        }
    }
@media (max-width: 991px) {
        .mobile-menu-items.active {
        display: block;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 30%);
    }
        .mobile-menu-items {
        padding-bottom: 30px;
        background-color: rgb(255, 255, 255);
    }
        .languages .language a:first-child {
        margin-bottom: 5px;
        margin-right: 0px;
    }
    .text-modile {
        display: block !important;
    }
        .text-sologan, .text-modile {
        width: 195px;
    }
        .text-sologan {
        display: none;
    }
        #header .rsearch {
        width: 20%;
        padding-right: 40px;
        margin-left: 0;
        margin-right: 15px;
        order: 4;
        margin-top: 2px !important;
    }
    .ds-grid {
        grid-gap: 30px;
    }
        .home-header-nav, .mobile-menu-items .collapse-button {
        display: none;
    }
        .second-nav {
        display: none;
    }
    .event-slider .slick-next, .slider-post .slick-next, .news-slider .slick-next {
        right: -10px !important;
    }
    .news-slider .slick-prev, .news-slider .slick-next {
        top: 47.5% !important;
    }
    .event-slider .slick-prev, .slider-post .slick-prev, .news-slider .slick-prev {
        left: -10px;
    }
    .news-slider .slick-prev, .news-slider .slick-next {
        top: 47.5%;
    }
    .non-slider {
        margin-top: 20px;
    }
    .non-slider {
        padding-left: 0;
    }
    .newstabhomejcarousel ul.non-slider {
        grid-template-columns: repeat(2, minmax(calc(33.33% - 40px), 1fr));
    }
    .hidden-mobile {
        display: none;
    }
    .non-slider {
        margin-top: 20px;
    }
    .non-slider {
        padding-left: 0;
    }
    .double-slider {
        padding-left: 0;
        padding-right: 0;
        min-height: auto;
        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 30%);
    }
    .slider-post {
        padding-left: 25px;
        padding-right: 25px;
    }
    .featured-post, .right-top ul {
        display: none !important;
    }

    .section-footer-top .panel-default, .footerNav2 {
        text-align: center;
    }
    .main-header {
        position: relative !important;
        background: none !important;   
        background-color: #c02135 !important;
    }
        #header .logo {
            text-align: left;
            width: calc(40% - 15px);
        padding-right: 0;
        }
        .text-sologan li:first-child {
            font-size: 16px;
        }
        .text-sologan {
            width: 40%;
            font-size: 16px;
        }
        #header .right-top {
            width: 40%;
        }
        #header .right-top {
            width: 40%;
        }
        #header > div {
            flex: 1 !important;
        }
        .featured-post,
    .right-top ul{
        display: none !important;
    }
    #header .rsearch {
        width: 20%;
        margin-left: 0;
        margin-right: 15px;
        order: 4;
        margin-top: 2px !important;
    }
    .rsearch a i {
        font-size: 18px;
    }
    .languages {
        margin-top: 0;
    }
    #header .languages {
        order: 3;
    }
    .languages .language {
        display: flex
;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 5px;
    }
    .text-sologan li:first-child {
        font-size: 16px;
    }
    .languages .language a:first-child {
        margin-bottom: 5px;
        margin-right: 0px;
    }
        .languages .language a {
            display: inline-block;
        }
            .btn-toggle-mobile-menu {
                display: block !important;
            }
    }
    
@media (max-width: 1119.98px) {
        #header .logo {
            padding-left: 10px;
        }
    }
    
@media (max-width: 499.98px) {
    #header .logo img {
        max-height: 70px !important;
    }
}
@media (max-width: 480px) {
    .text-sologan {
        padding-left: 8px;
        width: 150px;
    }
    .rsearch a i {
        font-size: 20px;
    }
}
@media (min-width: 650px) and (max-width: 900px) {
    #header .rsearch {
        margin-left: -30px;
        text-align: center;
    }
}
@media (max-width: 1024px) {
    .news-slider .slick-next {
        right: -15px !important;
    }
    .news-slider .slick-prev {
        left: -13px !important;
    }
    .right-top .menu_topright ul {
        justify-content: center;
        padding-left: 0px;
    }
    .right-top .menu_topright ul li a {
        display: block;
        text-align: center;
        padding: 5px;
    }
    .rsearch {
        margin-left: 10px;
        margin-right: 10px;
    }
    .languages {
        margin-right: 10px;
    }
}
@media (min-width: 659.9px) {
    .hidden-desktop-h2 {
        display: none;
    }
}
@media (max-width: 659.9px) {
    .bg-content-tuyen-sinh, .bg-content-daotao, .bg-content-nghien-cuu, .bg-content-title {
        padding: 0 20px;
    }
        .pd-bottom {
        padding-left: 0px !important;
    }
    .ds-grid {
        grid-gap: 0px !important;
    }
        .imgae-flex {
        height: 250px !important;
        width: 100%;
    }
        .content_flex h2, .content_flex>span {
        margin-bottom: 0px;
    }
    .content_flex ul {
        padding-left: 30px;
    }
        .content-flex-white {
        background-color: #FFF;
        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 30%);
        padding: 10px;
    } 
    .hidden-h2-mobile {
        display: none;
    }
        .bg-content-wraper {
        background-color: transparent !important;
    }
    .bg-content-tuyen-sinh .pd-bottom {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .ds-flex-mobile {
        display: flex !important;
        flex-wrap: wrap-reverse;
        grid-gap: 0px !important;
    }
    .content-mobile {
        background-color: #d4d3d3;
        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 30%);
        padding: 10px;
        width: 100%;
    }
}
@media (min-width: 650px) and (max-width: 900px) {
    #header .languages {
        text-align: right;
    }
        #header .rsearch {
            margin-left: -30px;
            text-align: center;
        }
}
@media (min-width: 1025px) {
    .news_column .panel-body .article img {
        width: 90%;
        height: auto;
    }
    .fixed_social {
        position: fixed;
    }
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1
}
body {
    background-color: #fdfafb;
    font-family: 'LinhAvantGarde', sans-serif !important;
    font-size: 17px !important;
    overflow-x: hidden;
}
body {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #FDFAFB;
}
.main-header {
    position: absolute;
    z-index: 12;
    width: 100%;
}
.main-header ul.slimmenu{
    background-color: transparent !important;
}
.main-header.sticky .section-header, .three-content .item-content .date-published, .custom-about-menu .sidebar-nav ul li.current > a, .section-header,.css-left .panel-default>.panel-heading, .footerNav2, .panel-primary>.panel-heading {
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out;
}
.section-header {
    background-color: #c02135;
}
.main-header ul.slimmenu{
    background-color: transparent !important;
}
.section-header {
    background-color: #c02135 ;
}
.section-header2 {
    background-color: #c02135;
}
.main-header #header .logo {
    /* padding-top: 10px; */
    padding-left: 5px;
}

#header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px 15px 5px;
}

.logo .test-site {
    display: flex;
    align-items: center;
}
.home-header .section-header .home-title{
    display: none;
}
#header .logo img {
    max-height: 120px;
    width: auto;
}
#header .logo img {
    max-height: 80px !important;
}
.text-sologan {
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 0px;
    max-width: 420px
}
.text-sologan li:first-child {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}
.text-sologan li {
    color: #FFF !important;
    display: inline;
    white-space: nowrap
}
.text-sologan .bo>a,
.text-sologan .cuc>a {
    color: #fff;
}
.text-sologan li:last-child {
    font-weight: 700;
    font-size: 25px;
}
#header .right-top {
    display: flex;
    padding: 0;
    align-items: center;
}
#header .right-top {
    justify-content: right;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 10px 0;
    margin-left: 30%;
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.menu_topright {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 100%; 
    margin-left: 30%;
}

.menu_topright ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Căn phải các mục menu */
}

.menu_topright ul li {
    gap: 10px;
    white-space: nowrap; 
}
.right-top .menu_topright ul li a {
    padding: 20px 15px;
    text-transform: none;
    font-weight: 400;
    text-shadow: 0 1px 0 rgb(255 255 255 / 20%);
    background: none;
    color: #fff;
    font-size: 17px; 
}

.rsearch {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px
}
.rsearch a {
    color: #fff !important;
}
.rsearch a i {
    font-size: 20px;
}
.languages {
    margin-top: -20px;
}
.languages .language a:first-child {
    margin-bottom: 5px;
}
.languages .language a {
    display: block;
    box-shadow: 0 0px 2px 1px rgb(0 0 0 / 15%);
}
.language a.active {
    height: 18px;
    width: 25px;
}

.language a {
    display: inline-block;
    width: 25px;
    height: 16px;
    vertical-align: middle;
    background-size: cover;
    background-position: center center;
}

.btn-toggle-mobile-menu {
    background-color: transparent;
    right: 12px;
    border: none;
    display: none;
    flex-direction: column;
    width: 40px;
    height: 30px;
    padding: 5px;
    border-radius: 0;
    background-color: transparent;
    position: absolute;
    box-shadow: none;


}
.btn-toggle-mobile-menu .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
}
.header-bar-search {
    display: none;
    background-color: #393637;
}
.wraper {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
.search-form-inner {
    margin-top: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.search-form-inner label {
    color: #fff;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.search-form-inner .form-control {
    border-radius: 0px;
}
.search-form-inner .input-group-addon {
    background-color: transparent;
    border: none;
    padding: 0;
    padding-left: 10px;
}
.search-form-inner .input-group-addon .btn {
    background-color: transparent;
    border: none;
    padding: 0;
}
.search-form-inner .input-group-addon .btn i {
    font-size: 24px;
}
#flisearchform {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
}

#flisearchform.show {
    max-height: 300px;
    opacity: 1;
}
.main-header.sticky {
    background: none !important;
    position: fixed !important;
    height: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    animation: smoothScroll 0.5s forwards;
    background-color: transparent
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

#footer {
    padding-top: 50px;
}
#footer, #footer a {
    color: #393637;
}
#footer {
    border-bottom-color: #d9d9d8 !important;
    background-color: #d9d9d8 !important;
    background-image: none !important;
    border-top-color: #d9d9d8 !important;
}
.section-footer-top .panel-default {
    border-color: transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.section-footer-top .panel-default>.panel-heading {
    background-color: transparent;
    border-color: transparent;
    background-image: none !important;
    border-bottom-width: 0;
    font-size: 20px;
    font-weight: bold;
    color: #393637 !important;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.panel-default>.panel-heading {
    border-radius: 0 !important;
}
.panel-heading {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(0, 0, 0, 0) 100%) !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}
.padding-style .panel-default .panel-heading, .padding-style .panel-default .panel-body
    {
    padding-left: 0px;
}
.section-footer-top .panel-body {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
iframe {
    border: 0;
}
.socialList {
    margin-top: 10px;
}
.socialList {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    .icon{
        text-decoration: none;
        width: 3rem;
        height: 3rem;
        border-radius: 15px;
        /* background-color: hsla(209 20% 70% / 20%); */ /* For dark theme */
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          background-color: #393637;
    }
    .icon > i {
        color: #d9d9d8;
        font-size: 1.5rem;
        transition: all 0.2s;
      }
      
      .icon:hover > i {
        scale: 1.2;
        color: #f1f1f1;
      }
      
      .icon:before {
        background: var(--color);
        content: "";
        position: absolute;
        width: 130%;
        height: 130%;
        left: -110%;
        top: 80%;
        transform: rotate(45deg);
      }
      
      .icon:hover:before {
        animation: slide 0.7s forwards;
      }
    
      
}
@keyframes slide {
    50% {
      left: 10%;
      top: -40%;
    }
  
    100% {
      left: -15%;
      top: -15%;
    }
  }
  
  .icon:has(.fa-facebook-f) {
    --color: #0866ff;
  }
  .icon:has(.fa-youtube) {
    --color: #ff0000;
  }
  .icon:has(.fa-twitter) {
    --color: #63a9dc;
  }
  .icon:has(.fa-instagram) {
    --color: radial-gradient(circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e57bc 100%);;
  }
  .icon:has(.fa-linkedin) {
    --color: #0075ac;
  }
.socialList, .contactList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_footer ul li {
    margin-bottom: 7px;
}
.menu_footer ul {
    padding-left: 0px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
}
.rss-footer {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.footer-bttop .bttop {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 20;
}
.footer-bttop .bttop a {
    display: block;
    line-height: 40px;
    background-color: #00a99d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.footerNav2 {
    background-color: #b41d24 !important;
    padding: 20px 0;
    font-weight: 600;
}
.css-banquyen {
    text-align: right;
}
.footerNav2 .bttop {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.home-header-nav .bg {
    background: transparent !important;
    background-image: none !important;
    box-shadow: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.second-nav .bg {
    background: #cccccc;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
ul.slimmenu {
    display: flex
;
    justify-content: space-between;
}
ul.slimmenu {
    background-color: #fdfdfe !important;
}
ul.slimmenu>li:first-child {
    display: none !important;
}
.main-header ul.slimmenu > li > a {
    color: #fff !important;
}
ul.slimmenu>li>a {
    padding: 10px 15px !important;
}
ul.slimmenu>li>a {
    color: #393637 !important;
    font-family: 'LinhAvantGarde', sans-serif !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}
ul.slimmenu>li:nth-of-type(2)>a {
    padding-left: 5px !important;
}
ul.slimmenu li>ul {
    border-radius: 0px !important;
}
ul.slimmenu li>ul {
    width: auto !important;
}
ul.slimmenu li .sub-collapser {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li ul li a {
    font-weight: 600 !important;
    font-size: 16px !important;
}
ul.slimmenu>li:last-child>a {
    text-transform: uppercase;
}
ul.slimmenu .has-submenu {
    .sub-toggle {
        display: none !important; 
    }
   
}
.home-header .section-header, .home-header-nav, .main-header ul.slimmenu {
    background-color: transparent !important;
}
ul.slimmenu .has-submenu .sub-toggle {
    display: none !important;
}

ul.slimmenu > li:hover > a {
    background-color: transparent !important;
    
}

div.v2 >.slimmenu > li:active {
    background-color: transparent !important;
}
ul.slimmenu > li:active {
    background-color: transparent !important;

}
ul.slimmenu .has-submenu  .sub-menu > li:hover > a {
    color: #c02135 !important;
}
.css-left .metismenu .sidebar-nav ul ul ul a {
    padding-left: 30px !important;
    font-size: 14px !important;
}
.content_flex h2 a, .content_flex span:hover a {
         color: #c02135 !important;

}
.custom-metis .sidebar-nav>ul>li>span, .custom-metis .sidebar-nav>ul>li>a {
    display: none !important;
}
.main-header.sticky .section-header {
    background-color: #c02135 !important;
}
.main-header.sticky .home-header-nav {
    background-color: #fdfdfe !important;
    box-shadow: 0 0px 3px 2px rgb(0 0 0 / 30%);
}
.main-header.sticky .home-header-nav ul.slimmenu > li > a {
    color: #393637 !important;
}
#header .logo {
    padding-top: 10px;
    padding-left: 5px;
}
#header .logo {
    display: flex
;
    flex-direction: row;
    align-items: center;
}
.text-modile {
    display: none;
}
.text-modile {
    padding-left: 5px;
    margin-bottom: 0px;
}
.text-modile .dong a, .text-modile .dong {
    font-weight: 400;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
}
.text-modile .line a, .text-modile .line {
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
}
.mobile-menu-items {
    display: none;
}
.menu-mobile {
    display: grid !important
;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) !important;
    padding-left: 0px;
}
.menu-mobile>li {
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #FFF;
    padding: 10px 15px;
    border-right: 1px solid #ccc;
}
.menu-mobile>li>div
 {
    position: relative;
}
.menu-mobile li>ul {
    position: absolute !important;
    width: 100%;
    left: 0px;
    z-index: 10;
    background-color: #FFF;
    display: none;
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 30%);
    margin-top: 10px;
}
.menu-mobile li ul {
    padding-left: 0px;
}
.menu-mobile li a {
    color: #4f4f4f !important;
    font-weight: bold;
    font-size: 16px;
}
.menu-mobile li>ul li {
    text-align: left;
    padding: 10px 15px;
    border: 1px solid #ccc;
}
.menu-mobile>li>div>i {
    position: absolute;
    right: 0px;
    top: 4px;
}
.second-nav {
    z-index: 3;
}
.slimmenu {
     display: flex;
}
ul.slimmenu>li.has-submenu:first-child {
    display: none !important;
}
ul.slimmenu > li > a {
    display: block;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    background: none;
     white-space: nowrap;
}
.panel-item-clip .clip-thumb {
    display: block;
    height: 0;
    padding-bottom: 62%;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
    background-color: #eee;
}

.panel-item-clip .clip-thumb img {
    display: none;
}
.img-thumbnail {
    background-color: transparent;
    border-radius: 0px;
}
.img-thumbnail {
    background-color: #cccccc;
    border: none;
    border-radius: 3px;
    max-width: 100%;
    padding: 1px;
}
/* iframe {h
    height: 465px
    ;width:829.25px
} */
.detailContent .videoplayer {
    background: #3f3f3f;
    position: relative;
}
.message {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: none;
    z-index: -1;
    width: 150px;
    border: 1px #51A8FF solid;
    background: #C4E1FF;
    padding: 6px;
    margin-left: -75px;
}
#videoDetail h1 {
    margin-top: 0;
}
.detailContent {
    position: relative;
}
.ab-single-thumb .thumb-cover, .ab-thumb-wrap .thumb-inner .thumb-cover {
    display: block;
    height: 0;
    background-position: center top;
    background-size: cover;
    max-width: 100%;
}
.ab-thumb-wrap .thumb-inner {
    max-width: 100%;
}
.ab-thumb-wrap {
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-pack: center;
    justify-content: center;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.ab-gird-box {
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
@media only screen and (max-width: 499.98px) {
    .ab-gird-box .ab-gird-item {
        width: 50% !important;
    }
}
@media only screen and (max-width: 767.98px) {
    .ab-gird-box .ab-gird-item {
        width: 33.333333% !important;
    }
}
@media only screen and (max-width: 991.98px) {
    .ab-gird-box .ab-gird-item {
        width: 25% !important;
    }
}
.ab-gird-box .ab-gird-item {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
.margin-bottom, .mb-2 {
    margin-bottom: 10px;
}
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }
.menu-mobile li>ul li div i {
    position: absolute;
    right: 0px;
    top: 4px;
}
.menu-mobile li>ul li div {
    position: relative;
}
.menu-fixed.sticky {
    position: fixed;
    top: 0; /* hoặc top: 0px */
    left: 0;
    right: 0;
    z-index: 9999;
    height: auto;
    transition: all 0.5s ease;
    animation: smoothScroll 0.5s forwards;
}


.second-nav {
    z-index: 3;
}
.section-nav {
    background-color: #fdfdfe;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 30%);
    position: relative;
    z-index: 5;
}
.home-header-nav {
    box-shadow: none;
}
.home-header .section-header, .home-header-nav, .main-header ul.slimmenu {
    background-color: transparent !important;
}
.videoInfo {
    background: #fff;
    position: relative;
    border: 1px #d6d6d6 solid;
    padding: 1px;
}
.marginbottom15 {
    margin-bottom: 15px;
}
.videoInfo .cont {
    background: #f1f1f1;
    position: relative;
    padding: 2px;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoInfo .cont .cont2 {
    height: 56px;
}
.fl {
    float: left;
}
.videoInfo .cont .fl {
    position: absolute;
    top: 4px;
    left: 4px;
}
.videoInfo .shareFeelings {
    font: normal 11px Tahoma;
    margin-bottom: 8px;
    height: 12px;
}
.videoInfo a.likeButton {
    display: inline-block;
    background: #E1E1E1;
    font: 700 12px / 30px Arial;
    border: 1px #d6d6d6 solid;
    padding: 0 10px;
    text-decoration: none;
    color: #5B5B5B;
    margin-right: 2px;
      &:hover {
           background-color: white;
    }
}
.videoInfo a.likeButton img.like {
    background: transparent url(../img/like.png) no-repeat left top;
    width: 15px;
    height: 14px;
    margin-right: 4px;
}
.videoInfo a.likeButton img.unlike {
    background: transparent url(../img/like.png) no-repeat left -14px;
    width: 15px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
}
.videoInfo a.likeButton img.broken {
    background: transparent url(../img/like.png) no-repeat left -28px;
    width: 15px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
}
.videoInfo .cont .fr {
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: right;
}
.fr {
    float: right;
}
.videoInfo div.viewcount {
    position: relative;
    font: normal 11px Tahoma;
    color: #5B5B5B;
    text-align: right;
    margin-bottom: 8px;
    font-size: 14px;
}
.videoInfo div.viewcount span {
    font-weight: 700;
}
.videoInfo div.imageunlike {
    background: #4491b2;
}
.videoInfo div.image {
    width: 220px;
    position: relative;
    font: normal 3px / 3px Tahoma;
    text-align: left;
    margin-bottom: 2px;
    height: 3px;
    line-height: 3px;
}
.videoInfo div.image img.like {
    height: 3px;
    background: #ed3056;
}
.videoInfo div.likeDetail {
    width: 220px;
    font: normal 11px / 11px Tahoma;
    color: #5B5B5B;
    position: relative;
}
.videoInfo.likeLeft {
    float: left;
}
.videoInfo div.imageunlike {
    background: #4491b2;
    width: 220px;
    position: relative;
    height: 2.5px;
    border-radius: 3px;
    overflow: hidden;
}

.videoInfo div.image img.like {
    height: 100%;
    background: #ed3056;
    display: block;
    transition: width 0.3s ease;
}
.videoInfo .hometext {
    position: relative;
    padding: 6px;
}
.socialicon {
    margin-top: 10px;
}
#idcomment {
    padding: 0 5px;
    padding-bottom: 10px;
}
.nv-fullbg {
    min-height: 100%;
    background-color: #fff;
}

#idcomment .comment-title {
    font-size: 13px;
    font-weight: bold;
}
#idcomment {
    padding: 0 5px;
    padding-bottom: 10px;
}

#idcomment .comment-title {
    font-size: 13px;
    font-weight: bold;
}

#idcomment .sortcomm .active {
    background: #f5f5f5;
}

.comment-list .comment-info {
    margin-bottom: 5px;
    border-bottom: 1px #eee solid;
    padding-bottom: 5px;
}

.comment-list .comment-info .cm_item {
    margin-right: 10px;
}

.comment-list .comment-tool {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

.comment-list .comment-tool li {
    margin-left: 10px;
    display: inline-block;
}

.comment-list .comment-tool li:first-child {
    margin: 0;
}

.comment-list {
    margin: 0;
    padding-left: 0;
}

.comment-list .comment-list {
    padding-left: 20px;
}
.bg-gainsboro {
    background-color: #dcdcdc;
}
table caption {
    color: #357ebd;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    padding: 0 0 5px 2px;
}
.font-size-h3 {
    font-size: 17px;
}
.panel-primary {
    border-color: #ccc;
    border-radius: 0;
}
.panel-primary>.panel-heading {
    background-color: #c02135 !important;
    border-color: #ccc;
    border-radius: 0;
    text-transform: uppercase;
}
.suborg {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.suborg ol li {
    list-style-type: decimal-leading-zero;
}
table caption h2 a {
    font-size: 20px;
}
.d-flex {
    display: flex
;
}
.d-flex .flex-avatar {
    flex: 0.4;
    justify-content: flex-start;
    display: flex
;
}
.d-flex .flex-des {
    flex-grow: 1;
    margin-left: 15px;
}
.flex-avatar .img-thumbnail {
    background-color: transparent !important;
}
.font-size-h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.font-size-h2 span {
    border-bottom: 3px solid #333;
}
.flex-des p {
    margin-bottom: 5px;
}
.text-break {
    word-break: break-word;
}
figure.table {
    margin: 5px auto 10px auto;
    display: table;
}
figure.table .ck-table-resized {
    table-layout: fixed;
}
figure.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double var(--nv-border-color);
}
figure.table table {
    overflow: hidden;
}
figure.table table td, figure.table table th {
    min-width: 5px;
    padding: 7px;
    border: 1px solid var(--nv-border-color);
}
figure.table td, figure.table th {
    overflow-wrap: break-word;
    position: relative;
}
.text-break ul {
    list-style: disc;
}
.well {
    padding: 8px;
    line-height: 18px;
}
.tree {
    min-height: 20px;
    margin-bottom: 20px;
}
.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative;
}
.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
}
.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}
.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto;
}
.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px;
}
.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}

.div-position {
    position: relative; /* Đặt .div-position làm tham chiếu định vị */
}

.div-position .slide-text {
    position: absolute; /* Cho phép sử dụng top, left, right, bottom */
    top: auto !important;
    left: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 50px;
    width: 500px;
    text-align: right;
    display: inline-block;
    font-family: 'LinhAvantGarde';
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    padding-top: 15px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5%;
}
#body {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 0 !important;
    background-color: #fffbfb !important;
}
.panel-body {
    width: 100%;
    overflow: hidden; /* Đảm bảo nội dung không tràn ra ngoài */
}

.panel-body span {
    font-family: 'Arial', sans-serif; /* Font không chân */
    font-size: 16px;
    white-space: nowrap; /* Ngăn ngắt dòng */
    display: inline-block; /* Đảm bảo span không bị ảnh hưởng bởi các phần tử khác */
}
.has-submenu.current {
    background-color: transparent !important;
}
ul.slimmenu li a:hover, ul.slimmenu li a:focus, ul.slimmenu li.current {
    background-color: transparent !important;
    text-decoration: none;
}